@model Bank.Models.Transaction
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>


@using (Ajax.BeginForm("TransactionSearch", new AjaxOptions { UpdateTargetId = "results" }))
{
    @Html.AntiForgeryToken();
    <div class="form-horizontal">
        <h4>Выписка по карте</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Карта</label>
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CardNumber, new SelectList(ViewBag.list), "Выберите карту")
                @Html.ValidationMessageFor(m => m.CardNumber);
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Поиск" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div id="results">

</div>
<div>
    @Html.ActionLink("Назад", "Index")
</div>
@Scripts.Render("~/scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





