@model IEnumerable<Bank.Models.BankCard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Мои карты</h3>
<h2> </h2>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script>
    $(function () {
        $("#CardNumber").mask("9999 9999 9999 9999");
    });
</script>



<p>
</p>
<table class="table">
    <tr>
        <th>
            Тип карты
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidUntil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@string.Join("-", "/Content/Images/card.bmp")" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidUntil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
        </tr>
    }

</table>